<div class="container_recomendacoes">
    <div class="titulo_recomendacoes">
        <h2>Recomendado para você</h2>
    </div>

    <div class="temas_recomendados">

        <div class="recomendacao">
            <img src="recomendado 1.png" alt="Pés Saudáveis">
            <button>O que você precisa saber para ter<br>pés saudáveis!</button>
        </div>

        <div class="recomendacao">
            <img src="recomendado 2.png" alt="Cuidados com a pele no verão">
            <button>Cuidados com a pele no verão.</button>
        </div>

        <div class="recomendacao">
            <img src="recomendado 3.png" alt="Massagem como prevenção">
            <button>A massagem como ferramenta de<br>prevenção.</button>
        </div>

    </div>
</div>