<header>
    <app-cabecalho-um></app-cabecalho-um>
    <app-cabecalho-dois></app-cabecalho-dois>
</header>

<main class="container">

<ul class="lista_site">
    <li><a routerLink="/pg-sobre-nos">Sobre nós</a></li>
    <li><a routerLink="/pg-termos-servico">Termos de Serviço</a></li>
    <li><a routerLink="/pg-politica-priv">Política de Privacidade</a></li>
    <li><a >Contato</a></li>
    <li><a routerLink="/pg-seguranca">Segurança</a></li>
</ul>
<div class="container_sections">
    <h2><b>Contate-nos</b></h2>

    <p> Tem Alguma pergunta, problema ou sugestão? Entre em contato com nossa equipe de atendimento ao cliente.<br>
        Adoraremos te ouvir.
    </p>
    <p>
        <b>Suporte</b><br>
        <a><img src="icon-email.svg"> suporte&#64;selflove.com.br</a>
    </p>

</div>
</main>

    <app-footer-principal></app-footer-principal>
