<header>
    <app-cabecalho-um></app-cabecalho-um>
    <app-cabecalho-dois></app-cabecalho-dois>
</header>

<main class="container">

<ul class="lista_site">
    <li><a routerLink="/pg-sobre-nos">Sobre nós</a></li>
    <li><a routerLink="/pg-termos-servico">Termos de Serviço</a></li>
    <li><a routerLink="/pg-politica-priv">Política de Privacidade</a></li>
    <li><a routerLink="/pg-contato">Contato</a></li>
    <li><a >Segurança</a></li>
</ul>
<div class="container_sections">
    <h2><b>Segurança - SelfLove</b></h2>

    <p> Ao utilizar a plataforma SelfLove, você concorda com os termos descritos a seguir.<br>
        É importante ler com atenção.
    </p>

    <p>Na SelfLove, a segurança dos seus dados e informações é prioridade. Adotamos medidas técnicas, digitais e <br>
        administrativas para proteger todos os dados pessoais coletados na plataforma contra acessos não <br>
        autorizados, vazamentos, perdas ou qualquer uso indevido.
    <br>
    <br>
    Utilizamos criptografia, firewalls, autenticação por senha e conexões seguras (HTTPS) para garantir a <br>
    integridade e confidencialidade dos dados durante a navegação e nas transações.
    <br>
    <br>
    O acesso às suas informações é restrito apenas a pessoas autorizadas, como a equipe da SelfLove e <br>
    parceiros contratados para fins operacionais — todos comprometidos com a confidencialidade e com a Lei <br>
    Geral de Proteção de Dados (LGPD).
    <br>
    <br>
    Além disso, monitoramos constantemente o sistema para prevenir falhas, ataques e tentativas de invasão. <br>
    Também mantemos nossos sistemas e servidores atualizados, com políticas internas de controle de acesso e<br>
     boas práticas de segurança digital.
    <br>
    <br>
    Apesar de todos os nossos esforços, nenhuma plataforma está 100% livre de riscos. Por isso, recomendamos <br>
    que você também proteja seus dados, usando senhas seguras, não compartilhando acessos e mantendo seu <br>
    dispositivo protegido contra malwares.
    <br>
    <br>
    Caso você identifique qualquer atividade suspeita em sua conta, entre em contato imediatamente com nossa <br>
    equipe pelo e-mail: suporte&#64;selflove.com.br
    <br>
    <br>
    Nosso compromisso é oferecer um ambiente seguro e confiável para que você use a SelfLove com <br>
    tranquilidade.
    </p>
</div>
</main>

    <app-footer-principal></app-footer-principal>

