<header>
    <app-login-popup></app-login-popup>



  <div class="container_cabecalho_dois">
      <a href="#">
          <img src="logotipo-selflove.png" alt="icon-selflove"> 
      </a>

      <ul class="menu_cabecalho">
          <li><a href="#">Salões de Beleza</a></li>
          <li><a href="#">Barbearias</a></li>
          <li><a href="#">Manicure & Nail Designer</a></li>
          <li><a href="#">Esteticistas</a></li>
          <li><a href="#">Sombrancelhas & Cílios</a></li>
          <li><a href="#">Spa & Massagem</a></li>
          <li><a href="#">Make Up</a></li>
      </ul>

  </div>
</header>

<main>
    <app-carrossel></app-carrossel>




<div class="container_donwloads_app">
<div class="self_love">
  <a href="#" class="donwload_selflove">
      <img src="logo_donwload1.png" width="132" height="42">Aplicativo SelfLove . iOs, Android
  </a>
  <div class="corpo_selflove">
      <h2>Encontre e faça agendamentos</h2>
      <p>
           Encontre seu próximo serviço e <b>reserve<br>tranquilamente</b>,
          a qualquer hora e em qualquer lugar,<br> bem na palma da sua mão.
       </p>
       <button type="button">DONWLOAD</button>
      <img src="agendar 1.png" width="463" height="426">
  </div>
</div>
<div class="selflove_biz">
  <a href="#" class="biz">
      <img src="logo_donwload2.png" width="132" height="42">Aplicativo SelfLoveBiz . iOs, Android
  </a>
  <div class="corpo_selfbiz">
      <h2>SelfLove para o seu negócio</h2>
      <p>
          Comece a usar a SelfLove para <b>administrar melhor</b> os<br> seus negócios. 
          Calendários, Reservas, Agendas,<br> Marketing e Pagamentos, tudo em um só lugar.
      </p>
      <button type="button">DONWLOAD</button>
      <img src="biz 1.png" width="463" height="426">
</div>
</div>
</div>


<div class="melhores_agendamentos">
<div class="texto">
<h2>Melhores agendamentos</h2>
  <p>
      Procurando seu próximo serviço a ser agendado na barbearia, no<br>
      cabeleleiro, na massagista ou na manicure?<br>
      Precisa agendar um horário para fazer a barba, tirar as sombrancelhas ou fazer uma<br>
      massagem?<br>
  </p>
  <p>
      A SelfLove foi desenvolvida para facilitar a sua vida, tornando fácil<br>
      e prático o processo de encontrar estabelecimentos, profissionais,<br>
      e serviços e realizar seus agendamentos. Reserve a qualquer hora,<br>
      em qualquer lugar, 24 horas por dia, 7 dias por semana.<br>
  </p>
  <p>
      Descubra os principais estabelecimentos da sua área e agende<br>
      com a SelfLove.
  </p>
</div>
<img src="city_pink 1.png" alt="Cidade rosa">
</div>



<div class="person_notificacao">
<img src="person_notif 1.png" alt="personagem notificação">
<div class="texto_person">
  <h2>Surgiu algo novo? Nós <br>
      estamos com você.</h2>
  <p>
      Baixe a SelfLove e agende seus compromissos em qualquer lugar.<br>
       Reagende ou cancele a qualquer hora.
  </p>
  <p>
      E, como sabemos que a vida anda bastante agitada, enviaremos<br>
      alguns lembretes. Você nunca vai esquecer ou perder seus agendamentos.
  </p>
</div>
</div>


<div class="avaliacao">
<div class="texto_avaliacao">
  <h2>Reserve com os melhores<br>
   profissionais perto de você</h2>
<p>Dê uma olhada nas melhores empresas de saúde e beleza na<br>
   SelfLove.
</p>
<p>
  Confira os perfis comerciais e ouça o que outras pessoas estão<br>
  dizendo em suas avaliações. Você pode até mesmo verificar<br>
  alguns portfólios.
</p>     
<p>
  Ecnomize tempo e deixe a fila da barbearia ou qualquer outro<br>
   serviço para outra pessoa. Com a SelfLove, fica fácil agendar sua<br>
    próxima ida ao salão de beleza.
</p>
</div>
<img src="avaliacao 1.png" alt="post de avaliacao">
</div>


<div class="container_recomendacoes">
<div class="titulo_recomendacoes">
  <h2>Recomendado para você</h2>
</div>

<div class="temas_recomendados">

  <div class="recomendacao">
      <img src="recomendado 1.png" alt="Pés Saudáveis">
      <button>O que você precisa saber para ter<br>pés saudáveis!</button>
  </div>

  <div class="recomendacao">
      <img src="recomendado 2.png" alt="Cuidados com a pele no verão">
      <button>Cuidados com a pele no verão.</button>
  </div>

  <div class="recomendacao">
      <img src="recomendado 3.png" alt="Massagem como prevenção">
      <button>A massagem como ferramenta de<br>prevenção.</button>
  </div>

</div>
</div>








<script src="script.js"></script>
</main>

<footer>

  <ul class="lista_rodape">
      <li><a href="/pg_sobre_nos.html">Sobre nós</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="/pg_politica_de_priv.html">Política de Privacidade</a></li>
      <li><a href="/pg_termos_de_servico.html">Termos de Serviços</a></li>
      <li><a href="#">SelLove Biz</a></li>
      <li><a href="#">Trabalhe Conosco</a></li>
      <li><a href="#">Contato</a></li>
  </ul>

  <div class="icones_donwloads">
      <a href="#" class="icone_appstore">
          <img src="donwload_appstore.png" width="130" height="49">
      </a>
      <a href="#" class="icone_googleplay">
          <img src="donwload_googlepay.png" width="130" height="49">
      </a>
  </div>
<hr>
  <div class="rodape_dois_container">
      <a href="#" class="logo_branca">
          <img src="Selflove_logo_branca.png" width="180" height="50">  © 2025 SelfLove Inc. Todos os direitos reservados
      </a>
  
  <div class="icones_redes_sociais">
      <a href="#">
          <img src="Instagram.png" width="40" height="40">
      </a>
      <a href="#">
          <img src="Facebook.png" width="40" height="40">
      </a>
  </div>
</div>
</footer>