<div class="container_donwloads_app">
    <div class="self_love">
        <a href="#" class="donwload_selflove">
            <img src="logo_donwload1.png" width="132" height="42">Aplicativo SelfLove . iOs, Android
        </a>
        <div class="corpo_selflove">
            <h2>Encontre e faça agendamentos</h2>
            <p>
                 Encontre seu próximo serviço e <b>reserve<br>tranquilamente</b>,
                a qualquer hora e em qualquer lugar,<br> bem na palma da sua mão.
             </p>
             <button type="button">DONWLOAD</button>
            <img src="agendar 1.png" width="463" height="426">
        </div>
    </div>
    <div class="selflove_biz">
        <a href="#" class="biz">
            <img src="logo_donwload2.png" width="132" height="42">Aplicativo SelfLoveBiz . iOs, Android
        </a>
        <div class="corpo_selfbiz">
            <h2>SelfLove para o seu negócio</h2>
            <p>
                Comece a usar a SelfLove para <b>administrar melhor</b> os<br> seus negócios. 
                Calendários, Reservas, Agendas,<br> Marketing e Pagamentos, tudo em um só lugar.
            </p>
            <button type="button">DONWLOAD</button>
            <img src="biz 1.png" width="463" height="426">
    </div>
</div>
</div>
