<header>
    <app-cabecalho-um></app-cabecalho-um>
    <app-cabecalho-dois></app-cabecalho-dois>
</header>


<main class="container">

<ul class="lista_site">
    <li><a routerLink="/pg-sobre-nos">Sobre nós</a></li>
    <li><a routerLink="/pg-termos-servico">Termos de Serviço</a></li>
    <li><a >Política de Privacidade</a></li>
    <li><a routerLink="/pg-contato">Contato</a></li>
    <li><a routerLink="/pg-seguranca">Segurança</a></li>
</ul>
<div class="container_sections">
    <h2><b>Política de Privacidade - SelfLove</b></h2>

    <p>
        Ao utilizar a plataforma SelfLove, você concorda com os termos descritos a seguir.<br>
        É importante ler com atenção.
    </p>

    <p>A SelfLove se compromete a proteger a privacidade dos usuários. Ao utilizar nossa plataforma, você<br>
         concorda com a coleta e uso dos seus dados conforme esta política.
    <br>
    <br>
    Coletamos informações como nome, e-mail, telefone, localização, preferências e dados de agendamento.<br>
    Também coletamos automaticamente dados como IP, tipo de dispositivo, navegador e comportamento <br>
    de navegação, para melhorar a experiência do usuário e garantir a segurança da plataforma.
    <br>
    <br>
    Usamos seus dados para permitir o agendamento de serviços, enviar confirmações, lembretes, ofertas e <br>
    comunicações relacionadas à sua experiência na SelfLove.
    <br>
    <br>
    Seus dados podem ser compartilhados com prestadores de serviço selecionados por você ou com parceiros<br>
    que atuam na operação da plataforma, sempre com segurança e dentro dos limites da LGPD.
    <br>
    <br>
    Não vendemos nem divulgamos seus dados a terceiros não autorizados.
    <br>
    <br>
    Adotamos medidas de segurança para proteger suas informações contra acessos não autorizados, <br>
    vazamentos ou uso indevido. Mesmo assim, nenhuma plataforma está imune a riscos.
    <br>
    <br>
    Você pode solicitar a correção, atualização ou exclusão de seus dados a qualquer momento, bem como<br>
    revogar seu consentimento para uso, enviando um e-mail para privacidade&#64;selflove.com.br
    <br>
    <br>
    Esta política pode ser atualizada periodicamente. Mudanças serão comunicadas por nossos canais. O uso <br>
    contínuo da plataforma após alterações indica concordância com os novos termos.
    </p>
</div>
</main>

    <app-footer-principal></app-footer-principal>

