<header>
    <app-cabecalho-um></app-cabecalho-um>
    <app-cabecalho-dois></app-cabecalho-dois>
</header>

<main class="container">

<ul class="lista_site">
    <li><a >Sobre nós</a></li>
    <li><a routerLink="/pg-termos-servico">Termos de Serviço</a></li>
    <li><a routerLink="/pg-politica-priv">Política de Privacidade</a></li>
    <li><a routerLink="/pg-contato">Contato</a></li>
    <li><a routerLink="/pg-seguranca">Segurança</a></li>
</ul>
<div class="container_sections">
    <h2>Fazer agendamentos <b>ficou mais fácil</b></h2>

    <div class="conteudo_agendamentos section">
        <img src="section_1.svg"width="400" height="auto">

        <div class="texto">
            <h4>Dá uma olhada</h4>
            <p>
                A SelfLove facilita a procura de agendamentos com os<br>
                profissionais locais de beleza, bem-estar e saúde. Encontre<br>
                seu lugar favorito ou descubra novos estabelecimentos<br>
                através do nosso aplicativo.
            </p>
        </div>
    </div>

    <div class="agende_a_qualquer_hora section">
        <div class="texto">
            <h4>Agendamentos a qualquer hora</h4>
            <p>
                Reserve serviços instantaneamente através do nosso site ou app,<br>
                SelfLove e evite ligações durante o horário comercial.
            </p>
        </div>
        <img src="section_1.svg" width="400" height="auto">
    </div>

    <div class="receba_notificacoes section">
        <img src="section_1.svg" width="400" height="auto">
        <div class="texto">
            <h4>Receba Notificações</h4>
            <p>
                Lembretes automatizados garantem que você nunca<br>
                esqueça os próximos agendamentos. Use o site para<br>
                alterar e gerenciar sua reserva.
            </p>
        </div>
    </div>
</div>
</main>


    <app-footer-principal></app-footer-principal>

