<header>
<app-cabecalho-um></app-cabecalho-um>
<app-cabecalho-dois></app-cabecalho-dois>
</header>

<main>
    <app-carrossel></app-carrossel>
    <app-opcao-donwload></app-opcao-donwload>


<div class="melhores_agendamentos">
<div class="texto">
<h2>Melhores agendamentos</h2>
  <p>
      Procurando seu próximo serviço a ser agendado na barbearia, no<br>
      cabeleleiro, na massagista ou na manicure?<br>
      Precisa agendar um horário para fazer a barba, tirar as sombrancelhas ou fazer uma<br>
      massagem?<br>
  </p>
  <p>
      A SelfLove foi desenvolvida para facilitar a sua vida, tornando fácil<br>
      e prático o processo de encontrar estabelecimentos, profissionais,<br>
      e serviços e realizar seus agendamentos. Reserve a qualquer hora,<br>
      em qualquer lugar, 24 horas por dia, 7 dias por semana.<br>
  </p>
  <p>
      Descubra os principais estabelecimentos da sua área e agende<br>
      com a SelfLove.
  </p>
</div>
<img src="city_pink 1.png" alt="Cidade rosa">
</div>



<div class="person_notificacao">
<img src="person_notif 1.png" alt="personagem notificação">
<div class="texto_person">
  <h2>Surgiu algo novo? Nós <br>
      estamos com você.</h2>
  <p>
      Baixe a SelfLove e agende seus compromissos em qualquer lugar.<br>
       Reagende ou cancele a qualquer hora.
  </p>
  <p>
      E, como sabemos que a vida anda bastante agitada, enviaremos<br>
      alguns lembretes. Você nunca vai esquecer ou perder seus agendamentos.
  </p>
</div>
</div>


<div class="avaliacao">
<div class="texto_avaliacao">
  <h2>Reserve com os melhores<br>
   profissionais perto de você</h2>
<p>Dê uma olhada nas melhores empresas de saúde e beleza na<br>
   SelfLove.
</p>
<p>
  Confira os perfis comerciais e ouça o que outras pessoas estão<br>
  dizendo em suas avaliações. Você pode até mesmo verificar<br>
  alguns portfólios.
</p>     
<p>
  Ecnomize tempo e deixe a fila da barbearia ou qualquer outro<br>
   serviço para outra pessoa. Com a SelfLove, fica fácil agendar sua<br>
    próxima ida ao salão de beleza.
</p>
</div>
<img src="avaliacao 1.png" alt="post de avaliacao">
</div>


<app-bloco-recomendacoes></app-bloco-recomendacoes>


</main>

<footer>
<app-footer-principal></app-footer-principal>
</footer>